<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
	
	<body onload="onloadCadastro();">
		<div layout:fragment="content">
			<h1>Clientes</h1>
			<form method="post" autocomplete="off" th:action="@{/admin/cliente/save}">
			<input type="hidden" name="edit" th:value="${editMode}">
			<table id="cadastro">
				<tr th:object="${cliente}">
					<input type="hidden" th:if="${editMode}" th:field="*{idCliente}" />
					<td id="cadastro">
						<input id="nome" type="text" placeholder="Nome" th:field="*{nome}" /><br />
						<div th:if="${#fields.hasErrors('nome')}" id="fielderror" th:text="${#fields.errors('nome')[0]}"></div>
					</td>
					<td id="cadastro">
						<input id="cpf" type="text" maxlength="11" placeholder="CPF" th:field="*{cpf}" 
					           onfocus="javascript: retirarFormatacao(this);" onblur="javascript: mascaraCpf(this);" />
					</td>
					<td id="cadastro">
						<input id="datanascimento" type="date" th:field="*{dataNascimento}" />
					</td>
				</tr>
			</table>
			<div th:replace="email :: email"></div>
			<div th:replace="telefone :: telefone"></div>
			<div th:replace="endereco :: endereco"></div>
			<input id="newreg" type="submit" value="Salvar">
			</form>
		</div>
	</body>
</html>