<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
	
	<body>
		<div layout:fragment="content">
			<h1>Produtos</h1>
			<form method="post" autocomplete="off" th:object="${produto}" th:action="@{/admin/produto/save}">
				<input type="hidden" name="edit" th:value="${editMode}">
				<input type="hidden" th:if="${editMode}" th:field="*{idProduto}" />
				<table id="cadastro">
					<tr>
						<td id="cadastro" colspan="2">
							<input id="descricao" type="text" placeholder="Descrição" th:field="*{descricao}" /><br />
							<div id="fielderror" th:if="${#fields.hasErrors('descricao')}" th:text="${#fields.errors('descricao')[0]}">
						</td>
					</tr>
					<tr>
						<td id="cadastro">
							<input id="estoque" type="text" placeholder="Estoque" th:field="*{estoque}" />
							<select id="unidademedida" th:field="*{unidadeMedida}">
							    <option value="0" selectesd="selected"></option>
								<option th:each="unidadeMedida : ${unidadesMedida}" 
										th:value="${unidadeMedida.getIdUnidadeMedida()}" th:text="${unidadeMedida.descricao}"></option>
							</select>
						</td>
					</tr>
				</table>
				<input id="newreg" type="submit" value="Salvar">
			</form>
		</div>
	</body>
</html>