<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
	
	<body>
		<div layout:fragment="content">
			<h1>Fornecedores</h1>
			<form id="filter" method="get" th:object="${filter}" th:action="@{/admin/fornecedor/}">
				<div th:replace="filtro :: cadastro"></div>
			</form>
			<form method="get" th:action="@{/admin/fornecedor/new}">
				<input id="newreg" type="submit" value="Novo Registro">
			</form>
			<table id="resultset" th:if="${fornecedores.size() > 0}">
				<tr>
					<th id="nome">Nome</th>
					<th id="cpf_cnpj">CPF / CNPJ</th>
					<th id="email">E-Mail</th>
					<th id="telefone" class="endline">Telefone</th>
				</tr>
				<tr th:each="fornecedor : ${fornecedores}">
					<td id="resultset" th:text="${fornecedor.nome}"></td>
					<td id="resultset" th:text="${fornecedor.pf_pj == 'pf' ? fornecedor.getFormattedCpf() : fornecedor.getFormattedCnpj()}"></td>
					<td id="resultset" th:text="${fornecedor.email(0)}"></td>
					<td id="resultset" class="endline" th:text="${fornecedor.telefone(0)}"></td>
					<td id="acao"><form method="post" th:action="@{/admin/fornecedor/edit}">
						<input type="hidden" id="idFornEdit" name="idFornEdit" th:value="${fornecedor.idFornecedor}">
						<input type="image" id="acao" th:src="@{/images/editar.png}">
					</form></td>
					<td id="acao">
						<img id="acao" th:src="@{/images/excluir.png}" th:onclick="'javascript: confirmWindow(\'delete\', \'idFornDelele\', ' + ${fornecedor.idFornecedor} + ');'">
					</td>
				</tr>
			</table>
			<div id="no_resultset" th:if="${fornecedores.size() == 0}">
				Não foram encontrados fornecedores para o filtro utilizado.
			</div>
			<div id="delete">Confima exclusão?<br />
			<form method="post" th:action="@{/admin/fornecedor/delete}">
				<input id="idFornDelele" type="hidden" name="idFornDelele" value="0">
				<input id="deleteBtn" type="submit" value="Sim" onclick="document.getElementById('delete').style.visibility = 'hidden';">
				<input id="deleteBtn" type="button" value="Não" onclick="document.getElementById('delete').style.visibility = 'hidden';">
			</form></div>
		</div>
	</body>
</html>