<!DOCTYPE html>
<html>
	<head  th:fragment="header_old">
		<title>Beleza + Lucrativa</title>
		<meta http-equiv="Content-Language" content="pt-br">
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/InovacaoStyle.css}" />
		<script type="text/javascript" th:src="@{/js/InovacaoScript.js}"></script>
	</head>
	<head  th:fragment="header">
		<title>Beleza + Lucrativa</title>
		<meta http-equiv="Content-Language" content="pt-br">
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/beleza+lucrativa.css}" />
		<script type="text/javascript" th:src="@{/js/InovacaoScript.js}"></script>
	</head>
</html>