<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
	
	<body>
		<div layout:fragment="content">
			<h1>Produtos</h1>
			<form id="filter" method="get" th:object="${filter}" th:action="@{/admin/produto/}">
				<div th:replace="filtro :: cadastro"></div>
			</form>
			<form method="get" th:action="@{/admin/produto/new}">
				<input id="newreg" type="submit" value="Novo Registro" />
			</form>
			<table id="resultset" th:if="${produtos.size() > 0}" class="ajstcenter">
				<tr>
					<th id="descricao">Descrição</th>
					<th id="estoque">Estoque</th>
					<th id="unidMedida" class="endline">Unid.<br />Medida</th>
				</tr>
				<tr th:each="produto : ${produtos}">
					<td id="resultset" th:text="${produto.descricao}"></td>
					<td id="estoque" th:text="${produto.strEstoque()}"></td>
					<td id="resultset" class="endline" th:text="${produto.abreviacaoUnidadeMedida()}"></td>
					<td id="acao"><form method="post" th:action="@{/admin/produto/edit}">
						<input type="hidden" id="idProdEdit" name="idProdEdit" th:value="${produto.idProduto}">
						<input type="image" id="acao" th:src="@{/images/editar.png}">
					</form></td>
					<td id="acao">
						<img id="acao" th:src="@{/images/excluir.png}" th:onclick="'javascript: confirmWindow(\'delete\', \'idProdDelele\', ' + ${produto.idProduto} + ');'">
					</td>
				</tr>
			</table>
			<div id="no_resultset" th:if="${produtos.size() == 0}">
				Não foram encontrados produtos para o filtro utilizado.
			</div>
			<div id="delete">Confima exclusão?
			<form method="post" th:action="@{/admin/produto/delete}">
				<input id="idProdDelele" type="hidden" name="idProdDelele" value="0">
				<input id="deleteBtn" type="submit" value="Sim" onclick="document.getElementById('delete').style.visibility = 'hidden';">
				<input id="deleteBtn" type="button" value="Não" onclick="document.getElementById('delete').style.visibility = 'hidden';">
			</form></div>
		</div>
	</body>
</html>