<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">
	
	<body>
		<div layout:fragment="content">
			<h1>Serviços</h1>
			<form id="filter" method="get" th:object="${filter}" th:action="@{/admin/servico/}">
				<div th:replace="filtro :: cadastro"></div>
			</form>
			<form method="get" th:action="@{/admin/servico/new}">
				<input id="newreg" type="submit" value="Novo Registro" />
			</form>
			<table id="resultset" th:if="${servicos.size() > 0}">
				<tr>
					<th id="descricao">Descrição</th>
					<th id="valor" class="endline">Valor</th>
				</tr>
				<tr th:each="servico : ${servicos}">
					<td id="resultset" th:text="${servico.descricao}"></td>
					<td id="valor" class="endline" th:text="${servico.strValor()}"></td>
					<td id="acao">
						<form method="get" th:action="@{/admin/servico/edit}">
							<input type="hidden" id="idServEdit" name="idServEdit" th:value="${servico.idServico}">
							<input type="image" id="acao" th:src="@{/images/editar.png}">
						</form>
					</td>
					<td id="acao">
						<img id="acao" th:src="@{/images/excluir.png}" th:onclick="'javascript: confirmWindow(\'delete\', \'idServDelete\', ' + ${servico.idServico} + ');'">
					</td>
				</tr>
			</table>
			<div id="no_resultset" th:if="${servicos.size() == 0}">
				Não foram encontrados serviços para o filtro utilizado.
			</div>
			<div id="delete">Confima exclusão?<br />
			<form method="post" th:action="@{/admin/servico/delete}">
				<input id="idServDelete" type="hidden" name="idServDelete" value="0">
				<input id="deleteBtn" type="submit" value="Sim" onclick="document.getElementById('delete').style.visibility = 'hidden';">
				<input id="deleteBtn" type="button" value="Não" onclick="document.getElementById('delete').style.visibility = 'hidden';">
			</form></div>
		</div>
	</body>
</html>